<md-content class="md-padding doc-content" ng-controller="docCtrl" data-ng-init="showDocDetails()">
  <md-card id="createDoc">
    <span class="md-display-2" id="headerText"><strong>Document details</strong></span>
    <div layout="column" id="docDetails">
      <div >
        <span><strong>{{doc.title | uppercase}}</strong></span>
      </div>
      <div style="margin-bottom: 1em">
        <p><strong>{{doc.content}}</strong></p>
      </div>
      <div layout= "row">
        <md-button class="md-fab left" aria-label="Edit Document" ng-click="getCurrentDocument(doc)">
          <i class="fa fa-pencil-square-o"></i>
          <md-tooltip md-visible="demo.showTooltip">
            Edit Document
          </md-tooltip>
        </md-button>
        <md-button class="md-fab left" aria-label="Back" ui-sref="nav.documents">
          <i class="fa fa-arrow-left"></i>
          <md-tooltip md-visible="demo.showTooltip">
            Back
          </md-tooltip>
        </md-button>
      </div>
    </div>
  </md-card>
</md-content>
