<div ng-controller= "docCtrl" data-ng-init="getDocuments()">
  <div class="top-nav">
    <nav class="nav-div">
      <div class="md-toolbar-tools" layout="row">
        <div flex="80">
          <md-button ui-sref="createdocument" aria-label="Settings">
            Create Document
          </md-button>
            <md-button ui-sref="documents" aria-label="Settings">
              Your Documents
            </md-button>
        </div>
        <div >
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button account" ng-click="$mdOpenMenu($event)">
              Your Account
            </md-button>
            <md-menu-content width="4" class="drop-down">
              <md-menu-item layout="column">
                <md-button ui-sref="userprofile">
                    <div layout="row">
                      <p flex>Your profile</p>
                    </div>
                </md-button>
                <md-button ng-click="logout()">
                    <div layout="row">
                      <p flex>Logout</p>
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
     </nav>
  </div>
  <md-content class="md-padding">
    <md-card id="createDoc">
      <h4 class="md-display-2" id="headerText"><strong>Document details</strong></h4>
      <div layout="column" id="docDetails">
        <div >
          <label><strong>Document Title</strong></label><br><br>
          <span>{{userDocs.title}}</span><br>
        </div>
        <div>
          <label><strong>Document Content</strong></label><br><br>
          <span>{{userDocs.content}}</span>
        </div>
        <md-button class="md-fab left" aria-label="Edit Document" ng-click="getCurrentDocument(userDoc)">
          <i class="fa fa-pencil-square-o"></i>
          <md-tooltip md-visible="demo.showTooltip">
            Edit Document
          </md-tooltip>
        </md-button>
      </div>
    </md-card>
  </md-content>
</div>