<md-content class="md-padding doc-content" ng-controller= "docCtrl" data-ng-init="getDocuments()">
  <span class="md-display-2" id="headerText"><strong>My Documents</strong></span>
  <div ng-if="!userDocs.length" layout-align="center">
    <h2>You have not created any documents yet!</h2>
    <span ui-sref="nav.createdocument">Click <strong>here</strong> to create your first Document!</span>
  </div>
  <div layout-gt-sm="row" layout-fill layout-align="top center" layout-wrap>
		<div ng-repeat="userDoc in userDocs">
			<md-card id="card">
			  <md-card-content>
		      <div id="docName"><h2><p><strong>{{userDoc.title | uppercase}}</strong></p></h2></div>
          <p ng-if="(userDoc.content).length >= 20">{{(userDoc.content).substring(0, 70)+'...'}}</p>
          <p ng-if="(userDoc.content).length < 20">{{userDoc.content}}</p>
          <div id="tooltip">
            <div><p>{{userDoc.dateCreated | date:'medium' | uppercase}}</p></div>
            <md-button class="md-fab left" aria-label="see more" ng-click="getDocDetails(userDoc)">
              <i class="fa fa-expand"></i>
              <md-tooltip md-visible="demo.showTooltip">
                See more
              </md-tooltip>
            </md-button>
            <md-button class="md-fab left" aria-label="Edit Document" ng-click="getCurrentDocument(userDoc)">
				      <i class="fa fa-pencil-square-o"></i>
				      <md-tooltip md-visible="demo.showTooltip">
				        Edit Document
				      </md-tooltip>
				    </md-button>
				    <md-button class="md-fab left" aria-label="Delete Document" ng-click="showConfirm($event, userDoc._id)">
				      <i class="fa fa-trash-o"></i>
				      <md-tooltip md-visible="demo.showTooltip">
				        Delete Document
				      </md-tooltip>
				    </md-button>
				  </div>
			  </md-card-content>
			</md-card>
		</div>
  </div>
</md-content>
