<md-content class="md-padding doc-content" ng-controller= "docCtrl" data-ng-init="showDocDetails()">
  	<md-card id="createDoc">
  	  <span class="md-display-2" id="headerText"><strong>Edit Document</strong></span>
	  	<form ng-submit="updateDocument(doc)">
	      <div layout="column" id="docDetails">
	        <div >
				    <label><strong>Document Title</strong></label><br><br>
				    <input id="title-input" ng-model="doc.title" placeholder= "{{userDoc.title}}" type="text"><br>
				  </div>
				  <div id="textArea">
				    <label><strong>Document Content</strong></label><br><br>
				    <textarea rows="10" cols="50" ng-model="doc.content" placholder = "{{userDoc.content}}" class="input-textbox"></textarea>
				  </div>
          <div layout="row">
  					<md-button id="createtooltip" ng-click="updateDocument(doc, doc._id)"class="md-fab left" aria-label="Save Document">
  				    <i class="fa fa-floppy-o"></i>
  				    <md-tooltip md-visible="demo.showTooltip">
  				      Save Document
  				    </md-tooltip>
  				  </md-button>
            <md-button class="md-fab left" id="createtooltip" aria-label="Back" ui-sref="nav.documents">
              <i class="fa fa-arrow-left"></i>
              <md-tooltip md-visible="demo.showTooltip">
              Back
              </md-tooltip>
            </md-button>
          </div>
				</div>
	  </form>
  </md-card>
</md-content>
