<div ng-controller= "docCtrl" data-ng-init="getDocuments()">
  <div class="top-nav">
    <nav class="nav-div">
      <div class="md-toolbar-tools" layout="row">
        <div flex="80">
          <md-button ui-sref="createdocument" aria-label="Settings">
            Create Document
          </md-button>
            <md-button ui-sref="documents" aria-label="Settings">
              Your Documents
            </md-button>
        </div>
        <div >
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button account" ng-click="$mdOpenMenu($event)">
              Your Account
            </md-button>
            <md-menu-content width="4" class="drop-down">
              <md-menu-item layout="column">
                <md-button ui-sref="userprofile">
                    <div layout="row">
                      <p flex>Your profile</p>
                    </div>
                </md-button>
                <md-button ng-click="logout()">
                    <div layout="row">
                      <p flex>Logout</p>
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
     </nav>
  </div>
	<md-content class="md-padding">
	  <md-whiteframe class="md-whiteframe-2dp" id="createDoc" layout="center">
	    <div layout="column"><h4 class="md-display-2" id="headerText"><strong>Create Document</strong></h4>
	    <form ng-submit="createDocument(doc)">
	      <div layout="column" id="docDetails">
	        <div >
		        <label><strong>Document Title</strong></label><br><br>
		        <input id="input" ng-model="doc.title" type="text"><br>
		      </div>
		      <div id="textArea">
		      	<label><strong>Document Content</strong></label><br><br>
		        <textarea rows="10" cols="50" ng-model="doc.content" class="input-textbox"></textarea>
		      </div>
			    <md-button id="createtooltip" ng-click="createDocument(doc)"class="md-fab left" aria-label="Save Document">
		      <i class="fa fa-floppy-o"></i>
		      <md-tooltip md-visible="demo.showTooltip">
		        Create Document
		      </md-tooltip>
		    </md-button>
		  </div>
		</form>
		</div>
	  </md-whiteframe>
	</md-content>
</div>