<md-content class="md-padding doc-content" ng-controller= "docCtrl" data-ng-init="getDocuments()">
  <md-whiteframe class="md-whiteframe-2dp" id="createDoc" layout="center">
    <div layout="column" class="new-doc-content">
      <span class="md-display-2" id="headerText"><strong>Create Document</strong></span>
      <form ng-submit="createDocument(doc)">
        <div layout="column" id="docDetails">
          <div>
  	        <label><strong>Document Title</strong></label><br><br>
  	        <input id="input" ng-model="doc.title" type="text"><br>
  	      </div>
  	      <div>
  	      	<label><strong>Document Content</strong></label><br><br>
  	        <textarea rows="10" cols="50" ng-model="doc.content" class="input-textbox"></textarea>
  	      </div>
          <div layout="row">
    		    <md-button id="createtooltip" ng-click="createDocument(doc)"class="md-fab left" aria-label="Save Document">
    	        <i class="fa fa-floppy-o"></i>
    	        <md-tooltip md-visible="demo.showTooltip">
    	          Create Document
    	        </md-tooltip>
    	      </md-button>
            <md-button class="md-fab left" id="createtooltip" aria-label="Back" ui-sref="nav.documents">
              <i class="fa fa-arrow-left"></i>
              <md-tooltip md-visible="demo.showTooltip">
              Back
              </md-tooltip>
            </md-button>
          </div>
  	    </div>
	    </form>
	  </div>
  </md-whiteframe>
</md-content>