<div ng-controller= "docCtrl" data-ng-init="getDocuments()">
  <nav id="nav-bar">
    <div class="md-toolbar-tools">
      <md-button ui-sref="createdocument" aria-label="Settings">
        Create Document
      </md-button>
      <md-button ui-sref="documents" aria-label="Settings">
        Your Documents
      </md-button>
      <md-button ui-sref="userprofile" aria-label="Settings">
        Your Profile
      </md-button>
      <md-button class="logout" ng-click="logout()" aria-label="Settings">
        Logout
      </md-button>
    </div>
  </nav>
	<md-content class="md-padding">
	  <md-whiteframe class="md-whiteframe-2dp" id="createDoc" layout="center">
	    <div layout="column"><h4 class="md-display-2" id="headerText"><strong>Create Document</strong></h4>
	    <form ng-submit="createDocument(doc)">
	      <div layout="column" id="docDetails">
	        <div >
		        <label><strong>Document Title</strong></label><br><br>
		        <input id="input" ng-model="doc.title" type="text"><br>
		      </div>
		      <div id="textArea">
		      	<label><strong>Document Content</strong></label><br><br>
		        <textarea rows="10" cols="50" ng-model="doc.content" class="input-textbox"></textarea>
		      </div>
			    <md-button id="createtooltip" ng-click="createDocument(doc)"class="md-fab left" aria-label="Save Document">
		      <i class="fa fa-floppy-o"></i>
		      <md-tooltip md-visible="demo.showTooltip">
		        Create Document
		      </md-tooltip>
		    </md-button>
		  </div>
		</form>
		</div>
	  </md-whiteframe>
	</md-content>
</div>